<app-registration-form (newUser) ="addUser($event)"></app-registration-form>

<div >

  <div class="reglist">
    <table class="">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registration of registrations; let i = index">
          <th>{{ i + 1 }}</th>
          <td>{{ registration.firstName }}</td>
          <td>{{ registration.lastName }}</td>
          <td>
            <button type="button"  (click)="onEdit(i)">Edit</button>
          </td>
          <td>
            <button type="button"  (click)="onDelete(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!--<div class="text-right">
      <button type="submit"  (click)="onNew()">New</button>
    </div>-->
  </div>
  <br>
</div>


<div class="regentry" *ngIf="showNew">
  <form (ngSubmit)="onSave()"   #updateForm ="ngForm">
    <div class="form-group">
      <label for="firstname-input">First Name</label>
      <div >
        <input class="form-control" type="text" [(ngModel)]="regModel.firstName" name="firstName" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="lastname-input" >Last Name</label>
      <div >
        <input class="form-control" type="text" [(ngModel)]="regModel.lastName" name="lastName" required>
      </div>
    </div>
    <button type="submit" [disabled]="!updateForm.form.valid" >{{submitType}}</button>
    <button type="submit" (click)="onCancel()">Cancel</button>
  </form>
</div>
